<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Method 1 -->
	<!-- Create Spring Bean by Default Constructor -->
    <bean id="myClient" class="com.jdc.beans.MyClient"></bean>

	<!-- Method 2 -->
	<!-- Create Spring Bean by Static Factory -->
	<bean id="myStaticFactory" name="anotherName"  factory-method="createFactory" class="com.jdc.beans.factory.Static_Factory"></bean>
	
	<!-- Method 3 -->
	<!-- Create Spring Bean by Instance Factory -->
	<bean id="myInstanceFactory" class="com.jdc.beans.factory.Instance_Factory"></bean>
	
	<bean 
		name="instanceBean" 
		factory-method="createInstance" 
		factory-bean="myInstanceFactory">
	</bean>
	
	<bean 
		name="instanceBeanWithConstArg" 
		factory-method="withConstructorArg" 
		factory-bean="myInstanceFactory">
		
		<constructor-arg value="Hello Instance Bean ..."></constructor-arg>
		
	</bean>
</beans>
